<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Add your new item</h3>
        <%= simple_form_for @item do |f| %>
          <%= f.input :photo, as: :file %>
          <%= f.input :name, placeholder: 'My amazing item' %>
          <%= f.input :address, placeholder: '711 Lucky Way road, City of Gold' %>
          <%= f.input :price, placeholder: 'Rand value' %>
          <%= f.input :description, placeholder: 'Tell us about your item and why you would like it' %>
          <%= f.submit class: 'btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
