<h1><%= @item.name %></h1>
<p><strong>Description:</strong> <%= @item.description %></p>
<p><strong>Price:</strong> <%= @item.price %></p>
<h3>Book this item</h3>
      <%= simple_form_for [@item, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true, input_html:{value: Date.today}  %>
        <%= f.input :end_date, as: :date, html5: true, input_html:{value: Date.today} %>
        <%= f.submit %>
      <% end %>


<button><% if current_user == @item.user %>
  <%= link_to "Delete", item_path(@item), method: :delete, data: { turbo_frame: "_top" } %>
<% end %></button>

<button><%= link_to "Edit Item",
  item_path(@item) %></button>
